@font-face {
    font-family: 'Roboto';
    src: url('roboto/Roboto-Regular-webfont.eot');
    src: url('roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('roboto/Roboto-Regular-webfont.woff') format('woff'),
    url('roboto/Roboto-Regular-webfont.ttf') format('truetype'),
    url('roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}